.cs-form-x{
    display:flex;
    width:500px;
    box-sizing:border-box;
    flex-direction:row;

}
.cs-form-input{
    width:300px;
    height:30px;
    border:1px solid #ccc;
    outline: none;
    border-radius:6px;
    cursor: pointer;
    margin:15px;
}
.cs-form-input:focus{
    border:1px solid #000;
    outline:none;
}
.cs-form-input::placeholder{
    color:cornsilk;
}
.cs-form-button{
    height:30px;
    width:75px;
    background:cornsilk;
    border:1px solid #ccc;
    border-radius:6px;
    margin:15px;
}
.cs-form-button:hover{
    opacity:0.7;
}